.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}
.card:hover {
  background-color: #f6f6f6;
}
.card .card-body {
  margin-left: 14px;
}
.card .card-title {
  font-size: 16px;
  font-family: Avenir;
}
.card .position {
  font-family: Avenir;
  font-size: 9px;
}
.card .location {
  font-family: Avenir;
  font-size: 9px;
  color: #6b75ca;
}

.card-img {
  object-fit: cover;
}

@media (max-width: 1024px) {
  .card .location {
    font-size: 10px;
  }
  .card .card-title {
    font-size: 14px;
  }
  .card .position {
    font-size: 10px;
  }
  .card {
    padding: 10px;
  }
}
